html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(rel='stylesheet', href='/public/style.css')
    script(src='/public/js.js')
    title= title
  body
    div.ad-container
        h1.title= ad
        button(type='button' onclick= "bringMeSomeAds()")= "Hitta annons"

    