/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/source-sans-pro-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('./fonts/source-sans-pro-v13-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/source-sans-pro-v13-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/source-sans-pro-v13-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/source-sans-pro-v13-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/source-sans-pro-v13-latin-700.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

html * {
  box-sizing: border-box;
}

body {
  background: #f9f7f6;
}

h1 {
  color: #ef404f;
  font-family: 'Source Sans Pro';
  font-size: 2.5rem;
}

.ad-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: medium none;
  color: rgb(255, 255, 255);
  background-color: rgb(65, 130, 195);
  height: 48px;
  padding: 0px 16px;
  font-size: 17px;
  font-family: 'Source Sans Pro';
  line-height: 26px;
  border-radius: 6px;
}

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ef404f;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
